<div class="inner_content_w3_agile_info">
    <!-- /agile_top_w3_grids-->
    <div class="agile_top_w3_grids">
        <ul class="ca-menu">
            <li>
                <a href="#">

                    <i class="fa fa-building-o" aria-hidden="true"></i>
                    <div class="ca-content">
                        <h4 class="ca-main">16,808</h4>
                        <h3 class="ca-sub">Đơn hàng mới</h3>
                    </div>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-user" aria-hidden="true"></i>
                    <div class="ca-content">
                        <h4 class="ca-main one">26,808</h4>
                        <h3 class="ca-sub one">Khách hàng</h3>
                    </div>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-database" aria-hidden="true"></i>
                    <div class="ca-content">
                        <h4 class="ca-main two">213.420.000 VNĐ</h4>
                        <h3 class="ca-sub two">Doanh thu</h3>
                    </div>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-tasks" aria-hidden="true"></i>
                    <div class="ca-content">
                        <h4 class="ca-main three">9,436</h4>
                        <h3 class="ca-sub three">Sản phẩm cũ</h3>
                    </div>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-clone" aria-hidden="true"></i>
                    <div class="ca-content">
                        <h4 class="ca-main four">4,808</h4>
                        <h3 class="ca-sub four">Sản phẩm mới</h3>
                    </div>
                </a>
            </li>
            <div class="clearfix"></div>
        </ul>
    </div>
    <!-- //agile_top_w3_grids-->
    <div class="agile_top_w3_post_sections">
        <div class="col-md-6 agile_top_w3_post agile_info_shadow">
            <div class="img_wthee_post">
                <h3 class="w3_inner_tittle">Báo cáo mới nhất</h3>
                <div class="stats-wrap">
                    <div class="count_info">
                        <h4 class="count">65,800,587 </h4><span class="year">Tổng doanh thu</span>
                    </div>
                    <div class="year-info">
                        <p class="text-no">20 </p><span class="year">Năm vừa rồi</span>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="stats-wrap">
                    <div class="count_info">
                        <h4 class="count">2,690 </h4><span class="year">Tổng doanh thu</span>
                    </div>
                    <div class="year-info">
                        <p class="text-no">40 </p><span class="year">Tháng vừa rồi</span>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="stats-wrap">
                    <div class="count_info">
                        <h4 class="count">24,660 </h4><span class="year">Tổng doanh thu</span>
                    </div>
                    <div class="year-info">
                        <p class="text-no">30 </p><span class="year">Tuần qua</span>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="stats-wrap">
                    <div class="count_info">
                        <h4 class="count">1,204</h4><span class="year">Tổng doanh thu</span>
                    </div>
                    <div class="year-info">
                        <p class="text-no">10 </p><span class="year">Ngày hôm qua</span>
                    </div>
                    <div class="clearfix"></div>
                </div>

            </div>
        </div>
        <div class="col-md-6 agile_top_w3_post_info agile_info_shadow">
            <div class="img_wthee_post1">
                <h3 class="w3_inner_tittle"> Đồng hồ đếm</h3>
                <div class="main-example">
                    <div class="clock flip-clock-wrapper"><span class="flip-clock-divider hours"><span
                                class="flip-clock-label">Giờ</span></span>
                        <ul class="flip ">
                            <li class="flip-clock-before"><a href="#">
                                    <div class="up">
                                        <div class="shadow"></div>
                                        <div class="inn">9</div>
                                    </div>
                                    <div class="down">
                                        <div class="shadow"></div>
                                        <div class="inn">9</div>
                                    </div>
                                </a></li>
                            <li class="flip-clock-active"><a href="#">
                                    <div class="up">
                                        <div class="shadow"></div>
                                        <div class="inn">0</div>
                                    </div>
                                    <div class="down">
                                        <div class="shadow"></div>
                                        <div class="inn">0</div>
                                    </div>
                                </a></li>
                        </ul>
                        <ul class="flip ">
                            <li class="flip-clock-before"><a href="#">
                                    <div class="up">
                                        <div class="shadow"></div>
                                        <div class="inn">9</div>
                                    </div>
                                    <div class="down">
                                        <div class="shadow"></div>
                                        <div class="inn">9</div>
                                    </div>
                                </a></li>
                            <li class="flip-clock-active"><a href="#">
                                    <div class="up">
                                        <div class="shadow"></div>
                                        <div class="inn">0</div>
                                    </div>
                                    <div class="down">
                                        <div class="shadow"></div>
                                        <div class="inn">0</div>
                                    </div>
                                </a></li>
                        </ul><span class="flip-clock-divider minutes"><span class="flip-clock-label">Phút</span><span
                                class="flip-clock-dot top"></span><span class="flip-clock-dot bottom"></span></span>
                        <ul class="flip ">
                            <li class="flip-clock-before"><a href="#">
                                    <div class="up">
                                        <div class="shadow"></div>
                                        <div class="inn">9</div>
                                    </div>
                                    <div class="down">
                                        <div class="shadow"></div>
                                        <div class="inn">9</div>
                                    </div>
                                </a></li>
                            <li class="flip-clock-active"><a href="#">
                                    <div class="up">
                                        <div class="shadow"></div>
                                        <div class="inn">0</div>
                                    </div>
                                    <div class="down">
                                        <div class="shadow"></div>
                                        <div class="inn">0</div>
                                    </div>
                                </a></li>
                        </ul>
                        <ul class="flip  play">
                            <li class="flip-clock-before"><a href="#">
                                    <div class="up">
                                        <div class="shadow"></div>
                                        <div class="inn">1</div>
                                    </div>
                                    <div class="down">
                                        <div class="shadow"></div>
                                        <div class="inn">1</div>
                                    </div>
                                </a></li>
                            <li class="flip-clock-active"><a href="#">
                                    <div class="up">
                                        <div class="shadow"></div>
                                        <div class="inn">2</div>
                                    </div>
                                    <div class="down">
                                        <div class="shadow"></div>
                                        <div class="inn">2</div>
                                    </div>
                                </a></li>
                        </ul><span class="flip-clock-divider seconds"><span class="flip-clock-label">Giây</span><span
                                class="flip-clock-dot top"></span><span class="flip-clock-dot bottom"></span></span>
                        <ul class="flip  play">
                            <li class="flip-clock-before"><a href="#">
                                    <div class="up">
                                        <div class="shadow"></div>
                                        <div class="inn">0</div>
                                    </div>
                                    <div class="down">
                                        <div class="shadow"></div>
                                        <div class="inn">0</div>
                                    </div>
                                </a></li>
                            <li class="flip-clock-active"><a href="#">
                                    <div class="up">
                                        <div class="shadow"></div>
                                        <div class="inn">1</div>
                                    </div>
                                    <div class="down">
                                        <div class="shadow"></div>
                                        <div class="inn">1</div>
                                    </div>
                                </a></li>
                        </ul>
                        <ul class="flip  play">
                            <li class="flip-clock-before"><a href="#">
                                    <div class="up">
                                        <div class="shadow"></div>
                                        <div class="inn">1</div>
                                    </div>
                                    <div class="down">
                                        <div class="shadow"></div>
                                        <div class="inn">1</div>
                                    </div>
                                </a></li>
                            <li class="flip-clock-active"><a href="#">
                                    <div class="up">
                                        <div class="shadow"></div>
                                        <div class="inn">2</div>
                                    </div>
                                    <div class="down">
                                        <div class="shadow"></div>
                                        <div class="inn">2</div>
                                    </div>
                                </a></li>
                        </ul>
                    </div>
                    <div class="message"></div>

                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <!-- //agile_top_w3_post_sections-->
    <!-- /w3ls_agile_circle_progress-->
    <div class="w3ls_agile_cylinder chart agile_info_shadow">
        <h3 class="w3_inner_tittle two"> Biểu đồ cột</h3>

        <div id="chartdiv"></div>


    </div>
    <!-- /w3ls_agile_circle_progress-->
    <!-- /chart_agile-->


    <!--/prograc-blocks_agileits-->
    <div class="prograc-blocks_agileits">


        <div class="col-md-6 bars_agileits agile_info_shadow">
            <h3 class="w3_inner_tittle two">Doanh số theo ngày</h3>
            <div class='bar_group'>
                <div class='bar_group__bar thin' label='Tỉ lệ' show_values='true' tooltip='true' value='343'></div>
                <div class='bar_group__bar thin' label='Chất lượng' show_values='true' tooltip='true' value='235'></div>
                <div class='bar_group__bar thin' label='Số lượng' show_values='true' tooltip='true' value='550'></div>
            </div>
        </div>
        <div class="col-md-6 fallowers_agile agile_info_shadow">
            <h3 class="w3_inner_tittle two">Người theo dõi gần đây</h3>
            <div class="work-progres">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Công cụ</th>
                                <th>Khách hàng</th>

                                <th>Trạng thái</th>
                                <th>Tiến trình</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Face book</td>
                                <td>Trần Đông</td>

                                <td><span class="label label-danger">in progress</span></td>
                                <td><span class="badge badge-info">50%</span></td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Twitter</td>
                                <td>Minh Hùng</td>

                                <td><span class="label label-success">completed</span></td>
                                <td><span class="badge badge-success">100%</span></td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Google</td>
                                <td>John</td>

                                <td><span class="label label-warning">in progress</span></td>
                                <td><span class="badge badge-warning">75%</span></td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>LinkedIn</td>
                                <td>Tuấn Đạt</td>

                                <td><span class="label label-info">in progress</span></td>
                                <td><span class="badge badge-info">65%</span></td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>Tumblr</td>
                                <td>David</td>

                                <td><span class="label label-warning">in progress</span></td>
                                <td><span class="badge badge-danger">95%</span></td>
                            </tr>
                            <tr>
                                <td>6</td>
                                <td>Tesla</td>
                                <td>Gia Bảo</td>

                                <td><span class="label label-info">in progress</span></td>
                                <td><span class="badge badge-success">95%</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>

    >
    <!-- /weather_w3_agile_info-->
    <div class="weather_w3_agile_info agile_info_shadow">
        <div class="weather_w3_inner_info">

            <div class="over_lay_agile">
                <h3 class="w3_inner_tittle">Dự báo thời tiết</h3>
                <ul>
                    <li>
                        <figure class="icons">
                            <canvas id="partly-cloudy-day" width="60" height="60"></canvas>
                        </figure>
                        <h3>31 °C</h3>
                        <div class="clearfix"></div>
                    </li>
                    <li>
                        <figure class="icons">
                            <canvas id="clear-day" width="60" height="60"></canvas>
                        </figure>
                        <div class="weather-text">
                            <h4>Tư</h4>
                            <h5>29°C</h5>
                        </div>
                        <div class="clearfix"></div>
                    </li>
                    <li>
                        <figure class="icons">
                            <canvas id="snow" width="60" height="60"></canvas>
                        </figure>
                        <div class="weather-text">
                            <h4>Năm</h4>
                            <h5>13 °C</h5>
                        </div>
                        <div class="clearfix"></div>
                    </li>
                    <li>
                        <figure class="icons">
                            <canvas id="partly-cloudy-night" width="60" height="60"></canvas>
                        </figure>
                        <div class="weather-text">
                            <h4>Sáu</h4>
                            <h5>18 °C</h5>
                        </div>
                        <div class="clearfix"></div>
                    </li>
                    <li>
                        <figure class="icons">
                            <canvas id="cloudy" width="60" height="60"></canvas>
                        </figure>
                        <div class="weather-text">
                            <h4>Bảy</h4>
                            <h5>15 °C</h5>
                        </div>
                        <div class="clearfix"></div>
                    </li>
                    <li>
                        <figure class="icons">
                            <canvas id="fog" width="60" height="60"></canvas>
                        </figure>
                        <div class="weather-text">
                            <h4>C.Nhật</h4>
                            <h5>11 °C</h5>
                        </div>
                        <div class="clearfix"></div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- //weather_w3_agile_info-->
    <!-- /social_media-->
    <div class="social_media_w3ls">

        <div class="col-md-3 socail_grid_agile facebook">
            <ul class="icon_w3_info">
                <li><a href="#" class="wthree_facebook"> <i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li>Facebook</li>
            </ul>
            <ul class="icon_w3_social">
                <li><i class="fa fa-comment-o" aria-hidden="true"></i></li>
                <li><i class="fa fa-envelope-o" aria-hidden="true"></i></li>
                <li><i class="fa fa-user" aria-hidden="true"></i></li>
            </ul>
            <div class="clearfix"></div>
            <div class="bottom_info_social">
                <div class="col-md-4 agile_w3l_social_media_text_img">
                    <img src="images/admin.jpg" alt="">
                </div>
                <div class="col-md-8 agile_w3l_social_media_text">
                    <h4>Phước Duy</h4>
                    <p>Chất lượng sản phẩm tuyệt vời :))</p>
                </div>

                <div class="clearfix"></div>
            </div>
        </div>
        <div class="col-md-3 socail_grid_agile twitter">
            <ul class="icon_w3_info">
                <li><a href="#" class="wthree_facebook"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li>Twitter</li>
            </ul>
            <ul class="icon_w3_social">
                <li><i class="fa fa-comment-o" aria-hidden="true"></i></li>
                <li><i class="fa fa-envelope-o" aria-hidden="true"></i></li>
                <li><i class="fa fa-user" aria-hidden="true"></i></li>
            </ul>
            <div class="clearfix"></div>
            <div class="bottom_info_social">
                <div class="col-md-4 agile_w3l_social_media_text_img">
                    <img src="images/a1.jpg" alt="">
                </div>
                <div class="col-md-8 agile_w3l_social_media_text">
                    <h4>Tú Ninh</h4>
                    <p>Giao hàng nhanh chóng, thân thiện</p>
                </div>

                <div class="clearfix"></div>
            </div>
        </div>
        <div class="col-md-3 socail_grid_agile gmail">
            <ul class="icon_w3_info">
                <li><a href="#" class="wthree_facebook"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                <li>Google+</li>
            </ul>
            <ul class="icon_w3_social">
                <li><i class="fa fa-comment-o" aria-hidden="true"></i></li>
                <li><i class="fa fa-envelope-o" aria-hidden="true"></i></li>
                <li><i class="fa fa-user" aria-hidden="true"></i></li>
            </ul>
            <div class="clearfix"></div>
            <div class="bottom_info_social">
                <div class="col-md-4 agile_w3l_social_media_text_img">
                    <img src="images/a2.jpg" alt="">
                </div>
                <div class="col-md-8 agile_w3l_social_media_text">
                    <h4>Faker</h4>
                    <p>Chất lượng dịch vụ cao</p>
                </div>

                <div class="clearfix"></div>
            </div>
        </div>
        <div class="col-md-3 socail_grid_agile dribble">

            <ul class="icon_w3_info">
                <li><a href="#" class="wthree_facebook"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
                <li>Dribbble</li>
            </ul>
            <ul class="icon_w3_social">
                <li><i class="fa fa-comment-o" aria-hidden="true"></i></li>
                <li><i class="fa fa-envelope-o" aria-hidden="true"></i></li>
                <li><i class="fa fa-user" aria-hidden="true"></i></li>
            </ul>
            <div class="clearfix"></div>
            <div class="bottom_info_social">
                <div class="col-md-4 agile_w3l_social_media_text_img">
                    <img src="images/a4.jpg" alt="">
                </div>
                <div class="col-md-8 agile_w3l_social_media_text">
                    <h4>Kim Phượng</h4>
                    <p>Phục vụ tận tâm,đúng giờ</p>
                </div>

                <div class="clearfix"></div>
            </div>

        </div>
        <div class="clearfix"></div>

    </div>
    <!-- //social_media-->
</div>